{{ define "search_noquery.gohtml" }}
{{ template "base_start" (dict "title" "Search") }}
  <h1>Search</h1>
  <div class="card">
    <p>Enter a query in the search bar above.</p>
  </div>
{{template "base_end" .}}
{{end}}
