name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-release:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-14 ]

    env:
      GOTOOLCHAIN: auto
      CGO_ENABLED: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - name: Show environment
        run: |
          go version
          go env

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc pkg-config libwayland-dev libx11-dev libx11-xcb-dev libxkbcommon-x11-dev libgles2-mesa-dev libegl1-mesa-dev libffi-dev libxcursor-dev libvulkan-dev

      - name: Download go mod dependencies
        run: |
          go mod download

      - name: Run tests
        run: |
          make test

      - name: Build
        run: |
          make build-dist

      - name: List dist
        id: list_dist
        shell: bash # Required for Windows runner
        run: |
          ls -la dist
          echo "built_exe=$(find ./dist -type f -print -quit)" >>"$GITHUB_OUTPUT"

      - name: Sanity check
        run: ${{steps.list_dist.outputs.built_exe}} --help

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: localgal-${{ matrix.os }}
          path: dist/*
          if-no-files-found: error

  release:
    name: Create release
    needs: build-release
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: localgal-*
          merge-multiple: 'true'
          path: dist

      - name: Generate checksums
        run: |
          cd dist && sha256sum * > sha256sums.txt

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
